<html>
<head> 
    <!--공대선배 라즈베리 파이썬 #13 라즈베리파이 제어용 웹사이트 만들기 html 파일-->
    <!--https://www.youtube.com/channel/UCsiwB64NJe1JYFZ6iUeFQqA-->
    <!--title은 브라우저 맨 위(제목표시줄)에 나오는 내용을 결정-->
    <title>RASPBERRY PI STATE VIEWER</title>	
    <meta name="viewport" content="width=device-width initial-scale=1">
    <!--1초마다 웹사이트 새로고침을 하여 라즈베리파이의 상태를 갱신-->
    <meta http-equiv="refresh" content="1">
</head> 
<body>
    <!--본문 시작. h1은 가장 큰 글씨로 글자를 써줌-->
    <h1>라즈베리파이의 스위치 눌림여부를 웹사이트로 전달</h1>
    <!--hr은 수평 가로줄을 그려줌-->
    <hr>
    <div style="padding-left:20px;">
        <!--h3는 중간크기 글씨로 글자를 써줌-->
        <h3>각각의 스위치 상태</h3>
        <!--p는 위아래로 한줄 띄어서 글자를 써줌-->
        <p style="color: red;">
        <!--led_state_dict 'red'의 요소가 1이면 빨간 LED: 켜짐 으로 출력됨-->
        <!--b는 글자를 굵게(bold) 표시함-->
        <b>왼쪽 스위치: {% if sw_state_list[0]!=0 %} 켜짐 
            {% elif sw_state_list[0]==0 %} 꺼짐
                {% endif %}
        </b>	
        </p>
        <p style="color: green;">
        <b>중간 스위치: {% if sw_state_list[1]!=0 %} 켜짐 
               {% elif sw_state_list[1]==0 %} 꺼짐
                {% endif %}
        </b>	
    </p>
    <p style="color: blue;">
	<b>오른쪽 스위치: {% if sw_state_list[2]!=0 %} 켜짐 
	    {% elif sw_state_list[2]==0 %} 꺼짐
            {% endif %}
	</b>	
    </p>
    <hr>
    </div>
</body>
</html>